* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.jpg);
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(8, 70, 124, 0.727);
    text-align: left;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 2px 2px 3px;
    padding: 5px;
    margin-top: 70px;
    border-radius: 5px;
}

.primeiro {
    background-color: black;
    border: 1px solid rgb(7, 0, 0);
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 5px;

}

.primeiro:hover {
    background-color: white;
    color: black;
}

input {
    width: 80%;
    height: 35px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.427);
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(4, 11, 140, 0.986);
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px black;
    font-family: 'Edu NSW ACT Foundation', cursiva;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao>img {
    width: 30px;
}

.voltar {
    background-color: black;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
    padding: 6px;
}

.voltar:hover {
    background-color: white;
    color: black;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.logo {
    width: 60px;
}

.botao2>li>a {
    color: yellow;
    background-color: rgba(15, 117, 200, 0.462);
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500px;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
}

.fundo {
    background-image: url(../img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.427);
}

.botao3 {
    color: yellow;
    background-color: rgba(15, 117, 200, 0.523);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 149, 255, 0.829);
    box-shadow: 2px 2px 4px rgba(6, 141, 225, 0.681);
    max-width: 500px;
    width: 400px;
}

.botao3::placeholder {
    color: yellow;
}

h2 {
    font-family: URW Chancery L, cursive;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.botao4 {
    background-color: rgba(0, 0, 0, 0.825);
    border: 2px solid rgba(0, 153, 255, 0.308);
    border-radius: 10px;
    padding: 7px;
    width: 40px;
    margin-top: 2px;
    margin-left: -40px;
    text-decoration: none;
    color: white;
}

.botao4:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.inicio {
    background-color: rgb(5, 48, 123);
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    background: rgb(0, 151, 255);
    background: linear-gradient(90deg, rgba(0, 151, 255, 0) 6%, rgba(0, 125, 255, 0.8996848739495799) 50%, rgba(0, 138, 255, 0) 92%);
    border: 0;
    height: 5px;
}

.inicio>img {
    width: 400px;
    padding: 20px;
}

h2 {
    color: white;
}

p {
    color: white;
}

.capa {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.final {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes {
    border: 2px solid rgba(17, 91, 211, 0.796);
    background-color: rgba(0, 106, 255, 0.329);
    width: 50%;
    padding: 5px;
    margin: 9px;
    text-decoration: none;
    color: white;
}

.botoes:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.fundo2 {
    background-image: url(../img/tela\ de\ cinema.avif);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.427);
}

.botao5 {
    padding: 5px;
    border-radius: 0;
    margin: 6px;
    margin-top: 3px;
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botao6 {
    border-bottom: 2px solid white;
}

.filmes {
    display: flex;
    gap: 10px;
    overflow: scroll;
    height: 180px;
}

.filmes::-webkit-scrollbar {
    display: none;
}

.filme {
    width: 285px;
    height: 150px;
    margin: 3px;
    transition: all 1s;
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;

}

.cabecalho2 {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

.cabecalho2>div {
    display: flex;
    gap: 20px;
}

.icon {
    width: 20px;
    text-align: center;
}

.m1 {
    background-color: none;
}

h3 {
    color: white;
    margin: 10px;
    padding: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sair {

    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    background-color: rgb(25, 91, 165);
    color: white;
    border-radius: 5px;
    font-family: fantasy;
    margin: 5px;
}

.posicao-botao {
    position: absolute;
    top: 0px;
    right: 0px;
}

.hotel:hover {
    content: url(../img/hotel.gif);
    transform: scale(1.1);

}

.minios:hover {
    content: url(../img/minions.gif);
    transform: scale(1.1);
}

.bob:hover {
    content: url(../img/bob.gif);
    transform: scale(1.1);
}

.moana:hover {
    content: url(../img/moana.gif);
    transform: scale(1.1);
}

.enrolados:hover {
    content: url(../img/enrolados.gif);
    transform: scale(1.1);
    height: 100%;
}

.sing2:hover {
    content: url(../img/sing2.gif);
    transform: scale(1.1);
}

.o-bicho:hover {
    content: url(../img/o-bicho.gif);
    transform: scale(1.1);
}

.deuses:hover {
    content: url(../img/deuses-do-egito.gif);
    transform: scale(1.1);
}

.mr-bean:hover {
    content: url(../img/mr-bean.gif);
    transform: scale(1.1);
}

.branquelas:hover {
    content: url(../img/branquelas.gif);
    transform: scale(1.1);
}

.velozes:hover {
    content: url(../img/velozes.gif);
    transform: scale(1.1);
}

.forrest:hover {
    content: url(../img/forrest-gump.gif);
    transform: scale(1.1);
}

.piratas:hover {
    content: url(../img/piratas.gif);
    transform: scale(1.1);
}

.menino:hover {
    content: url(../img/o-menino.gif);
    transform: scale(1.1);
}

.brilhante:hover {
    content: url(../img/brilhante.gif);
    transform: scale(1.1);
}

.drack:hover {
    content: url(../img/drake-josh.gif);
    transform: scale(1.1);
}

.icarly:hover {
    content: url(../img/icarly.gif);
    transform: scale(1.1);
}

.game:hover {
    content: url(../img/game.gif);
    transform: scale(1.1);
}

.sam:hover {
    content: url(../img/sam-e-cat.gif);
    transform: scale(1.1);
}

.scooby:hover {
    content: url(../img/scooby.gif);
    transform: scale(1.1);
}

.kenan:hover {
    content: url(../img/kenan-e-kel.gif);
    transform: scale(1.1);
}

.pets:hover {
    content: url(../img/pets.gif);
    transform: scale(1.1);
}

.aladdin:hover {
    content: url(../img/aladdin.gif);
    transform: scale(1.1);
}

.batman:hover {
    content: url(../img/batman.gif);
    transform: scale(1.1);
}

.pinguins:hover {
    content: url(../img/pinguins.gif);
    transform: scale(1.1);
}

.you:hover {
    content: url(../img/you.gif);
    transform: scale(1.1);
}

.mundo:hover {
    content: url(../img/mundo.gif);
    transform: scale(1.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}

.icons>p>img {
    width: 30px;
}

.icons {
    text-align: center;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #06c6e8;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generos {
    flex-direction: column;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.generos>a {
    background-color: transparent;
    width: 10%;
}

.pesquisar2 {
    width: 50%;
    height: 35px;
    margin-top: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.427);
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(2, 9, 124, 0.986);
    margin: 10px;
}

.teste {
    background: none;
}

.banner-filme {
    background-image: url(../img/fundo-magadascar.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.assistir {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.627);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.51);
    margin: 20px;
    padding: 10px;
    flex-direction: column;
}

.assistir-pinguins {
    background-color: rgb(25, 91, 165);
}

.banner-filme2 {
    background-image: url(../img/batman.jpg);
    background-color: rgba(0, 0, 0, 0.766);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    padding-top: 300px;
}

.banner-filme3 {
    background-image: url(../img/brilhantejpg.jpg);
    background-color: rgba(0, 0, 0, 0.766);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.logo-brilhante {
    width: 50%;
}

.banner-escuro {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 300px;
}
.banner-escuro2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.4);

}


.opcoes {
    color: white;
    padding: 7px;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.assistir2 {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.627);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.51);
    margin: 20px;
    padding: 10px;
    flex-direction: column;
}


.filmes-assistir {
    display: flex;
    gap: 10px;
    overflow: scroll;
    height: 250px;
}

.filmes-assistir::-webkit-scrollbar {
    display: none;
}

.filme-assistir {
    height: 160px;
    margin: 3px;
    transition: all 1s;
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;

}

.video {
    background: none;
}

.filmes>.filme>p {
    text-align: center;
}

button {
    position: relative;
    padding: 12px 35px;
    background: #f2f0efe8;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #e6e3e1ec;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    margin: 10px;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}

button:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #FFFDEF
}

.logo-pinguins {
    width: 60%;
}

@media (max-width:500px) {
    .capa {
        flex-direction: column;
    }
    .banner{
        height: 50%;
    }
    .capa > img {
        width: 250px;
    }
    .botao3{
        width: 200px;
    }
    .generos > a{
        width: 20%;
    }
    .button{
       --fs-size:1em
    }
}
.perfil{
    background: none;
}
.perfil{
   background-image: url(../img/fundo-perfil.jpg);
   background-size: cover;
   background-color: rgba(0, 0, 0, 0.8);
}
.logo-perfil{
    width: 5%;
}
.agnes{
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;  
    text-align: center;
    font-family: fantasy;
    color: black;
}
.agnes1{
    display: flex;
    justify-content:center;
    align-items: center;

    width:300px;
    height: 200px;
}
.agnes1:hover{
    transform: scale(1.1);
}
.perfis{
    height: 400px;
}
.perfis > .primeiro{
    position: absolute;
    top:0;
    right: 0;
    margin: 10px;
    padding: 6px;
    background-color: rgb(25, 91, 165);
    font-family: fantasy;
}